

</br>
</br>
</Br>


<h3> India's first virtual taxistand. Now hire a taxi with least fare without any advance booking!</h3></br>

  <div class="center jumbotron">

    
    <div id="container">
  
    

    <%= search_form_for @q, url: search_users_path, html: { method: :post }  do |f| %>
    <div id="divB">  <h5> Pickup Location </h5> 
      
      <%= f.text_field :location_cont %>
    </div>
      <div id="divA"> <h5> Select Vehicle </h5>

      
      <%= f.text_field :vehicle_cont %>
    </div>
    <div class="findtaxi">
      <%= submit_tag "Search Taxi", :name => nil, class: "btn btn-small btn-primary " %>
    </div>
      <% end %> 
    </div>

  </br></br></br>


</div>









   
      <div id="andapp">

        Download our Android App Here
        <%= link_to(image_tag("appdownload.png", :size => "100x100"), "http://www.facebook.com") %>

      </div>
 
   

    



    <div id="signup">  
    <h5> Want to register your vehicle.Sign up here </h5>

    <li><%= link_to "Sign up", new_user_registration_path %></li>

    <h5> Already a registered User </h5>

    <li><%= link_to "Sign in", new_user_session_path %></li>

    
    
    </div>

  










