

</br>
</br>
</Br>


<h3> India's first virtual taxistand. Now hire a taxi with least fare without any advance booking!</h3></br>




  <div class="center jumbotron">

    <%= search_form_for @q, url: search_users_path, html: { method: :post }  do |f| %>

    <div id="divB">  <h5> Pickup Location </h5>

      <%= f.text_field :location_cont, "data-autocomplete" => users_autocomplete_users_location_path %>


    </div>


    <div id="divA"> <h5> Select Vehicle </h5>
      <%= f.text_field :vehicle_cont %>
    </div>


    <div id="divC">
      <%= submit_tag "Search Taxi", :name => nil, class: "btn btn btn-primary " %>
    </div>

    <% end %>

  </div>

 </br></br></br>










      <div id="andapp">

        Download our Android App Here
        <%= link_to(image_tag("appdownload.png", :size => "100x100"), "http://www.facebook.com") %>

      </div>







    <div id="signup">
    <h5> Want to register your vehicle</h5>
    <%= button_to "Sign up", new_user_registration_path,
      :class => "btn btn-success btn-lg", :method => :get %>


    <h5> Already a registered User </h5>

    <%= button_to "Log in", new_user_session_path,
      :class => "btn btn-info btn-lg", :method => :get %>

    </div>












