
  




        
        <tbody>
            <tr>  
            <td><%= gravatar_for user, size: 52 %></td>  
            <td><%= link_to user.name, user %></td>  
            <td><%= link_to user.contact, user %></td>  
            <td><%= link_to user.vehicle, user %></td>  
            <td> <%= link_to user.location, user %></td>
            <td> <%= link_to user.quote, user %> </td>
          </tr>  
        </tbody>
   
                            		
      