<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
        <%= @user.contact %>
        <%= @user.vehicle %>
        <%= @user.location %>
        <%= @user.quote %>

      </h1>
    </section>
  </aside>
<div class="span8">
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>

<% @user.reviews.each do |review| %>
<P>
  <b><%= review.author %> </b></br>
  <%= review.content %></Br>
  
  <% review.rating.to_i.times do %>
     <%= image_tag "star-green.png", :size => "20x20" %>
  <% end %>
  <p>
<% end %>


<%= form_for([@user, @user.reviews.build]) do |f| %>
  

  <div class="field">
    <%= f.label :author %><br>
    <%= f.text_area :author %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :rating %><br>
    <%= f.select( :rating, options_for_select(1..10)) %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<% form_tag users_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>