<% provide(:title, @user.name) %>
<h1>
  
        <%= @user.name %></br>


        
  </h1>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
       
        <p>
        <div >
        <%= image_tag  @user.image_url(:thumb) if @user.image? %>
        </div>
        </p>
        
        <p>
          Contact: <%=   @user.contact %></br>
        </P>
        <p>
          Vehicle: <%=  @user.vehicle %></br>
        </P>
        <p>
          Base Location: <%= @user.location %></br>
        </p>
        <p>
          Offered Price: <%=  @user.quote %></br>
        </p>



        
        




        
        
        
        
        

      </h1>
    </section>
  </aside>
<div class="span8">
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>






<p>
  <h4>
  Reviews about this Taxi
</h4>
</p>


<% @user.reviews.each do |review| %>
<P>
  <b><%= review.author %> </b></br>
  <%= review.content %></Br>
  
  <% review.rating.to_i.times do %>
     <%= image_tag "star-green.png", :size => "20x20" %>
  <% end %>
  <p>
<% end %>


<%= form_for([@user, @user.reviews.build]) do |f| %>
  

  <div class="field input-large">
    <%= f.label :author %><br>
    <%= f.text_field :author %>
  </div>
  <div class="field input-xlarge">
    <%= f.label :content %><br>
    <%= f.text_area :content%>
  </div>
  <div class="field input-mini">
    <%= f.label :rating %><br>
    <%= f.select( :rating, options_for_select(1..10)) %>
  </div>
  
  <div >
    <%= f.submit "Post Review", class: "btn .btn-small btn-primary"  %>
  </div>
<% end %>




