<% provide(:title, @user.name) %>



    <div id="profile">
      <h5> <%= @user.name %></h5>

        <p>
          <i class="fa fa-star fa-2x"></i>
          <%=   @user.contact %>
        </P>
        <p>
          <i class="fa fa-phone-square fa-2x"></i>
          <%=   @user.contact %>
        </P>
        <p>
          Vehicle: <%=  @user.vehicle %></br>
        </P>
        <p>
          <i class="fa fa-map-marker fa-2x"></i>
          <%= @user.location %></br>
        </p>
        <p>
          <i class="fa fa-inr fa-2x"></i>
          <%=  @user.quote %></br>
        </p>

    </div>







<div class="row">
  <aside class="span50">
    <section>
      <h1>

        <p>
        <div class="profilepic">
        <%= image_tag  @user.image_url(:thumb) if @user.image? %>
        </div>
        </p>

      </h1>
    </section>
</aside>


  <div class="vehiclepic row span4">
        <%= image_tag  @user.vehiclepic_url if @user.vehicle? %>
  </div>







</BR>
</BR>


<p>
<h4>
  All Reviews
</h4>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Review</th>
            <th>Rating</th>

        </tr>
   </thead>




<% @user.reviews.each do |review| %>

<tbody>
        <tr>
            <td><%= review.author %></td>
            <td><%= review.content %></td>
            <td><% review.rating.to_i.times do %>
            <%= image_tag "star-green.png", :size => "20x20" %>

            <% end %></td>

        </tr>
</tbody>

<% end %>

</table>






<%= form_for([@user, @user.reviews.build]) do |f| %>


  <div class="field input-large">
    <%= f.label :Name %><br>
    <%= f.text_field :author %>
  </div>
  <div class="field input-xlarge">
    <%= f.label :content %><br>
    <%= f.text_area :content%>
  </div>
  <div class="field input-mini">
    <%= f.label :rating %><br>
    <%= f.select( :rating, options_for_select(1..10)) %>
  </div>


    <%= f.submit "Post Review", class: "btn .btn-small btn-primary"  %>

<% end %>









